@import '../../styles/colors.scss';

#navigation-menu {
    background-color: $DARKEST;
    color: $LIGHTEST;
    margin-bottom: 20px;

    & > .navigation-title {
        background-color: $DARK;

        & > div {
            color: #fff;
            font-weight: bold;
        }
    }

    & > .ant-menu-item {
        color: $LIGHTEST;

        &.ant-menu-item-selected {
            background-color: $MEDIUM;
        }
    }
}